robotframework==3.0
robotframework-angularjs==0.0.3
robotframework-debuglibrary==0.4
robotframework-extendedselenium2library==0.9.0
robotframework-requests==0.4.5
robotframework-selenium2library==1.7.4
robotframework-webpack==1.0a8
selenium==2.53.6
